<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <NoventaYNueveMinutos_SameDay>
                <active>1</active>
                <title>99 minutos</title>
                <name>Entrega el mismo día</name>
                <shipping_cost_xs>85</shipping_cost_xs>
                <shipping_cost_s>95</shipping_cost_s>
                <shipping_cost_m>105</shipping_cost_m>
                <shipping_cost_l>115</shipping_cost_l>
                <shipping_cost_xl>205</shipping_cost_xl>
                <sort_order>15</sort_order>
                <model>NoventaYNueveMinutos\SameDay\Model\Carrier\SameDayShipping</model>
            </NoventaYNueveMinutos_SameDay>
        </carriers>
    </default>
</config>
