<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <NoventaYNueveMinutos_CO2>
                <active>1</active>
                <title>99 minutos</title>
                <name>Envío libre de contaminantes</name>
                <shipping_cost_xs>75</shipping_cost_xs>
                <shipping_cost_s>85</shipping_cost_s>
                <shipping_cost_m>95</shipping_cost_m>
                <shipping_cost_l>105</shipping_cost_l>
                <shipping_cost_xl>175</shipping_cost_xl>
                <sort_order>25</sort_order>
                <model>NoventaYNueveMinutos\CO2\Model\Carrier\CO2Shipping</model>
            </NoventaYNueveMinutos_CO2>
        </carriers>
    </default>
</config>
