<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="NoventaYNueveMinutos_SameDay" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Same Day</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apikey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API key</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Method Name</label>
                </field>
                <field id="shipping_cost_xs" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Shipping Cost xs</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="shipping_cost_s" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Shipping Cost s</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="shipping_cost_m" translate="label" type="text" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Shipping Cost m</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="shipping_cost_l" translate="label" type="text" sortOrder="43" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Shipping Cost l</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="shipping_cost_xl" translate="label" type="text" sortOrder="44" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Shipping Cost xl</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
